In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, root_mean_squared_error, mean_absolute_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns


df = pd.read_csv("train.lab1.new.csv")
df = df.drop(["Name", "Ticket"], axis = "columns")
df.head(10)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_male,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Embarked_Q,Embarked_S
0,1,0,1.0,22.0,0.125,0.000000,0.014151,True,True,False,False,False,False,False,False,False,True
1,2,1,0.0,38.0,0.125,0.000000,0.139136,False,False,True,False,False,False,False,False,False,False
2,3,1,1.0,26.0,0.000,0.000000,0.015469,False,True,False,False,False,False,False,False,False,True
3,4,1,0.0,35.0,0.125,0.000000,0.103644,False,False,True,False,False,False,False,False,False,True
4,5,0,1.0,35.0,0.000,0.000000,0.015713,True,True,False,False,False,False,False,False,False,True
5,6,0,1.0,28.0,0.000,0.000000,0.016510,True,True,False,False,False,False,False,False,True,False
6,7,0,0.0,54.0,0.000,0.000000,0.101229,True,False,False,False,True,False,False,False,False,True
7,8,0,1.0,2.0,0.375,0.166667,0.041136,True,True,False,False,False,False,False,False,False,True
8,9,1,1.0,27.0,0.000,0.333333,0.021731,False,True,False,False,False,False,False,False,False,True
9,10,1,0.5,14.0,0.125,0.000000,0.058694,False,True,False,False,False,False,False,False,False,False

In [2]:
# dataset splitting
X_reg = df.drop(["Age"], axis = "columns")
y_reg = df["Age"]
X_class = df.drop(["Survived"], axis = "columns")
y_class = df["Survived"]

X_train_reg, X_test_reg, y_train_reg, y_test_reg = train_test_split(X_reg, y_reg, test_size = 0.4, random_state = 42)
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X_class, y_class, test_size = 0.4, random_state = 42)


# check of the split
print(f"Len_X_train_reg = {len(X_train_reg)},Len_X_test_reg = {len(X_test_reg)}, Summa = {len(X_train_reg) + len(X_test_reg)} ")
print(f"Len_X_train_class = {len(X_train_class)},Len_X_test_class = {len(X_test_class)}, Summa = {len(X_train_class) + len(X_test_class)} ")

Len_X_train_reg = 534,Len_X_test_reg = 357, Summa = 891
Len_X_train_class = 534,Len_X_test_class = 357, Summa = 891

In [3]:
X_train_reg.head(10)

,PassengerId,Survived,Pclass,SibSp,Parch,Fare,Sex_male,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Embarked_Q,Embarked_S
570,571,1,0.5,0.000,0.000000,0.020495,True,True,False,False,False,False,False,False,False,True
787,788,0,1.0,0.500,0.166667,0.056848,True,True,False,False,False,False,False,False,True,False
74,75,1,1.0,0.000,0.000000,0.110272,True,True,False,False,False,False,False,False,False,True
113,114,0,1.0,0.125,0.000000,0.019177,False,True,False,False,False,False,False,False,False,True
635,636,1,0.5,0.000,0.000000,0.025374,False,True,False,False,False,False,False,False,False,True
501,502,0,1.0,0.000,0.000000,0.015127,False,True,False,False,False,False,False,False,True,False
104,105,0,1.0,0.250,0.000000,0.015469,True,True,False,False,False,False,False,False,False,True
114,115,0,1.0,0.000,0.000000,0.028221,False,True,False,False,False,False,False,False,False,False
368,369,1,1.0,0.000,0.000000,0.015127,False,True,False,False,False,False,False,False,True,False
92,93,0,0.0,0.125,0.000000,0.119406,True,False,False,False,True,False,False,False,False,True

In [4]:
X_test_reg.head(10)

,PassengerId,Survived,Pclass,SibSp,Parch,Fare,Sex_male,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Embarked_Q,Embarked_S
709,710,1,1.0,0.125,0.166667,0.029758,True,True,False,False,False,False,False,False,False,False
439,440,0,0.5,0.000,0.000000,0.020495,True,True,False,False,False,False,False,False,False,True
840,841,0,1.0,0.000,0.000000,0.015469,True,True,False,False,False,False,False,False,False,True
720,721,1,0.5,0.000,0.166667,0.064412,False,True,False,False,False,False,False,False,False,True
39,40,1,1.0,0.125,0.000000,0.021942,False,True,False,False,False,False,False,False,False,False
290,291,1,0.0,0.000,0.000000,0.153905,False,True,False,False,False,False,False,False,False,True
300,301,1,1.0,0.000,0.000000,0.015127,False,True,False,False,False,False,False,False,True,False
333,334,0,1.0,0.250,0.000000,0.035134,True,True,False,False,False,False,False,False,False,True
208,209,1,1.0,0.000,0.000000,0.015127,False,True,False,False,False,False,False,False,True,False
136,137,1,0.0,0.000,0.333333,0.051302,False,False,False,True,False,False,False,False,False,True

In [5]:
X_train_class.head(10)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_male,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Embarked_Q,Embarked_S
570,571,0.5,62.0,0.000,0.000000,0.020495,True,True,False,False,False,False,False,False,False,True
787,788,1.0,8.0,0.500,0.166667,0.056848,True,True,False,False,False,False,False,False,True,False
74,75,1.0,32.0,0.000,0.000000,0.110272,True,True,False,False,False,False,False,False,False,True
113,114,1.0,20.0,0.125,0.000000,0.019177,False,True,False,False,False,False,False,False,False,True
635,636,0.5,28.0,0.000,0.000000,0.025374,False,True,False,False,False,False,False,False,False,True
501,502,1.0,21.0,0.000,0.000000,0.015127,False,True,False,False,False,False,False,False,True,False
104,105,1.0,37.0,0.250,0.000000,0.015469,True,True,False,False,False,False,False,False,False,True
114,115,1.0,17.0,0.000,0.000000,0.028221,False,True,False,False,False,False,False,False,False,False
368,369,1.0,28.0,0.000,0.000000,0.015127,False,True,False,False,False,False,False,False,True,False
92,93,0.0,46.0,0.125,0.000000,0.119406,True,False,False,False,True,False,False,False,False,True

In [6]:
X_test_class.head(10)

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_male,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Embarked_Q,Embarked_S
709,710,1.0,28.0,0.125,0.166667,0.029758,True,True,False,False,False,False,False,False,False,False
439,440,0.5,31.0,0.000,0.000000,0.020495,True,True,False,False,False,False,False,False,False,True
840,841,1.0,20.0,0.000,0.000000,0.015469,True,True,False,False,False,False,False,False,False,True
720,721,0.5,6.0,0.000,0.166667,0.064412,False,True,False,False,False,False,False,False,False,True
39,40,1.0,14.0,0.125,0.000000,0.021942,False,True,False,False,False,False,False,False,False,False
290,291,0.0,26.0,0.000,0.000000,0.153905,False,True,False,False,False,False,False,False,False,True
300,301,1.0,28.0,0.000,0.000000,0.015127,False,True,False,False,False,False,False,False,True,False
333,334,1.0,16.0,0.250,0.000000,0.035134,True,True,False,False,False,False,False,False,False,True
208,209,1.0,16.0,0.000,0.000000,0.015127,False,True,False,False,False,False,False,False,True,False
136,137,0.0,19.0,0.000,0.333333,0.051302,False,False,False,True,False,False,False,False,False,True

In [7]:
# linearregression and regression estimation
linear_model = LinearRegression()
linear_model.fit(X_train_reg, y_train_reg)
y_pred_test_reg = linear_model.predict(X_test_reg)


# Mean Square Error, Root of MSE, Mean Absolute Error
MSE = mean_squared_error(y_test_reg, y_pred_test_reg)
RMSE = root_mean_squared_error(y_test_reg, y_pred_test_reg)
MAE = mean_absolute_error(y_test_reg, y_pred_test_reg)
print(f"MSE = {MSE}, RMSE = {RMSE}, MAE = {MAE}")

MSE = 134.45287614062707, RMSE = 11.595381672917329, MAE = 8.833925535834352

In [12]:
# logisticregression and regression estimation
logreg_model = LogisticRegression(max_iter = 1000)
logreg_model.fit(X_train_class, y_train_class)
y_pred_test_class = logreg_model.predict(X_test_class)


# Accuracy = sum of correct answrs to the total number of values
accuracy_class = accuracy_score(y_test_class, y_pred_test_class)
print(accuracy_class)

0.7815126050420168